!!!5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = yield :title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .panel.panel-primary.col-sm-offset-8
        .panel-heading
          %p Пользователь
        .panel-body
          %p=current_user.login.capitalize

      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
          .collapse.navbar-collapse.navbar-menubuilder
            %ul.nav.navbar-nav.navbar-left
              %li
                %a.glpyphicon.glyphicon-flag
                  %span Tasks

            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to "Выйти", logout_path, method: 'delete'
              %li
                %a
                  %strong=current_user.login.capitalize
              



    = yield
